<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Current Nightfall</h2>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <h4>Modifiers</h4>

      <p></p>
      <p></p>

      <!--<div *ngIf="publicMilestones">-->
      <div *ngIf="milestones">
        <ul>
          <!--
          <li *ngFor='let publicMilestone of publicMilestones | values:"key"'>
            <p>id: {{publicMilestone.milestoneHash}}</p>
            <p>start date: {{publicMilestone.startDate}}</p>
            <p>end date: {{publicMilestone.endDate}}</p>
          </li>
          -->
          <li *ngFor='let milestone of milestones'>
            <p>{{milestone.displayProperties.name}}</p>
            <p>{{milestone.displayProperties.description}}</p>
          </li>
        </ul>
      </div>

    <h4>Challenges</h4>

  </mat-card-content>
</mat-card>
