<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Current Nightfall</h2>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <h4>Modifiers</h4>
      <div *ngIf="resp">
        <p>response: {{resp.Response}}</p>
        <p>error code: {{resp.ErrorCode}}</p>
        <p>throttle seconds: {{resp.ThrottleSeconds}}</p>
        <p>error status: {{resp.ErrorStatus}}</p>
        <p>message: {{resp.Message}}</p>
        <p>message data: {{resp.MessageData}}</p>
      </div>

      <p></p>
      <p></p>

      <div *ngIf="publicMilestones">
        <p>number of public milestones: {{publicMilestones.length}}</p>
        <ul>
          <li *ngFor='let publicMilestone of publicMilestones | values:"key"'>
            <p>id: {{publicMilestone.milestoneHash}}</p>
            <p>start date: {{publicMilestone.startDate}}</p>
            <p>end date: {{publicMilestone.endDate}}</p>
          </li>
        </ul>
      </div>

    <h4>Challenges</h4>

  </mat-card-content>
</mat-card>
