@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import './themes/irish-destiny-theme.scss';

@mixin adwd-toolbar-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $accent: map-get($map: $theme, $key: accent);

  mat-toolbar {
    .sign-in-button {
      color: mat-color($accent);
      border: 1px solid mat-color($accent);
    }
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adwd-default-theme);
@include adwd-toolbar-theme($adwd-default-theme);

.screen-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


